<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Angular and Spotify Api!</span>
      <img class="logo" src="assets/Spotify.ico" alt="angular logo"/>
    </h1>
    <button type="button" name="StartSession" (click)='StartSessionOnSpotify()' >Start Session</button>
    <!-- <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{quote}}</q> -->
    

  </div>
</div>
